{%extends "backoffice/base.html"%}

{%block title%}
<title>Add Transaction</title>
{%endblock%}
{%block name_navbar%}
Add Transaction
{%endblock%}

{%block content%}

<div class="content">
    <div class="col-md-12">
        <div class="card card-user mr-4">
            <!-- form start -->
            <form role="form" method="post" action="{{url('backoffice-add-transaction')}}" id="form-add-transaction">
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">Name *</label>
                        <input type="name" id="name" class="form-control validate[required, maxSize[100]]" name="name"
                            maxlength="100">
                    </div>

                    <div class="form-group">
                        <label for="spending">Spending *</label>
                        <div>
                            <select name="spending" id="spending" class="form-control validate[required]">
                                <option value="">Pilih salah satu</option>
                                {% for spending in list_spending %}
                                <option value="{{ spending.id }}">{{ spending.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn_add_slider">Submit</button>
                    <a href="{{ url('backoffice-list-transaction') }}" class="btn btn-danger float-right">List
                        Weekly
                        Expenses</a>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}